GIGACHAT_AUTH_KEY=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat
GIGACHAT_API_BASE=https://gigachat.devices.sberbank.ru/api/v1
GIGACHAT_AUTH_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth
GIGACHAT_VERIFY_SSL=false

TIMEWEB_API_KEY=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCIsImtpZCI6IjFrYnhacFJNQGJSI0tSbE1xS1lqIn0.eyJ1c2VyIjoiemYwODM5MSIsInR5cGUiOiJhcGlfa2V5IiwiYXBpX2tleV9pZCI6IjdhMDI4ZTJmLTZlOWItNDE4MS1iYzY4LTk3OTE4YzMxZDQwNSIsImlhdCI6MTc3MjA5ODc5NywiZXhwIjoxNzc0NjkwNzk3fQ.yUVE4DyuuGKYcYggYG_6mhrmrjnRG8LZQdTsnvB8CiZhacGpuk9c05hpb47O4VvCE1nm-Uu3zQXuIV9ewP2S59bNGioAAsZeaB-6AvjByPudgiTt2xEfX7kU3_t1RE0DVuWVo9BE90vvvpDlFcYJiSc_nCKToUolWqEKEY7DMwaFDQ3d43T68jvgiqQHw-who6_XUtmwjW_T-JYmCJx2b-zR6VgDArlSeXvJATanCA8ULUjD9SRhUttiK8YN1Eoy2GIPY2gw9Shj_olvLvQlm_mRl1ww9X51OqEU115uWcgn9AM63E3nInf_ptHMdZSGGUiGkLRfnJFV0Tqo4LTmc_lBTogKqFTLUldhaVgvRyjXxhCvt8uqtjrjMRN2IT66coIZmek8jhab0DDW3NzPH0xY7D9dv4DQ8yD4p48tIUPnbLg5Z121tpev-Ta81HYyilfI3U7oWEPahzMlSW1vuEyPk8-QGWNyf4zXpZJmeeYZ1Z56bedtOD2TAW1sQnpx
TIMEWEB_API_BASE=https://agent.timeweb.cloud/api/v1/cloud-ai/agents/696c108a-b9f3-4c1b-ad84-bf2209a2168f/v1
TIMEWEB_MODEL=grok-4-fast
TIMEWEB_TIMEOUT=40
